.full-width {
    width: 100%;
}
.padding-top-navbar {
    padding-top: 64px; /* Adjust this value to match the height of your navbar */
}

.signup-link {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
}

.signup-text {
  color: #1976d2;
  font-weight: bold;
  text-decoration: none;
  margin-left: 5px;
}

.signup-text:hover {
  text-decoration: underline;
}