<div class="login-wrapper">
  <mat-card class="login-card">
    <div class="text-center">
      <img
          src="assets/logo.png"
          alt="Signup Image"
          class="img-fluid d-block mx-auto"
          style="max-height: 300px; margin-bottom: 20px; padding-top: 10%;"/>

      <h1 class="text-center">Login here</h1>
       
      <!-- {{user | json}} -->
    <form (ngSubmit)="formSubmit()" #loginForm="ngForm">
      <!-- Email Field -->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>User Email</mat-label>
        <input
          [(ngModel)]="user.email"
          name="email"
          type="email"
          matInput
          placeholder="Enter your email"
          required
        />
        <mat-error *ngIf="loginForm.submitted && !user.email">
          Email is required
        </mat-error>
      </mat-form-field>

      <!-- Password Field -->
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>User Password</mat-label>
        <input
          [(ngModel)]="user.password"
          name="password"
          type="password"
          matInput
          placeholder="Enter your password"
          required
        />
        <mat-error *ngIf="loginForm.submitted && !user.password">
          Password is required
        </mat-error>
      </mat-form-field>

      <!-- Submit Button -->
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="login-btn"
      >
        Login
      </button>

      
      <!-- Signup Link -->
      <div class="signup-link">
        <span>Don't have an account?</span>
        <a routerLink="/signup" class="signup-text">Sign up here</a>
      </div>
    </form>
    </div>
  </mat-card>
</div>
