html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.text-center {
  text-align: center;
}

.main-content-wrapper {
 padding-top: 70px;
 padding-left: 20px;
 padding-right: 20px;
}
